$team-a: #A11F2E;
$team-b: #1D2778;

.sidebar .brand {
  margin: 1rem 0 1.5rem;
}

.team-label {
  width: 100%;  
}

label {
  margin: 0;
}

.team-image {
  margin: 0.5em 0 0.7em;
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  img {
    margin: auto;
    width: 83%;
    height: 83%;
    object-fit: contain;
  }
}

.sidebar {
  .card-button {
    width: calc(100% - 2rem);
    display: block;
    margin: 0 1rem 1rem;
    text-decoration: none;

    .sidebar-card {
      margin: 0;
    }
    select {
      display: none;
    }
    .team-name {
      // display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
    }
    .team-label-header {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .sidebar-card-header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border-radius: $border-radius $border-radius 0 0;
  }

  .sidebar-card.team-a, .sidebar-card.team-b {
    background: $gray-500;
    .sidebar-card-body {
      color: $gray-900;
    }
  }
  .sidebar-card.team-a .sidebar-card-header {
    background: $team-a;
  }
  .sidebar-card.team-b .sidebar-card-header {
    background: $team-b;
  }
}

#team-modal .modal-dialog {
  max-width: none;
  width: auto;
  margin-left: 10rem;
  margin-right: 10rem;

  .card {
    width: 8rem;
    margin: 0.5rem;
    padding: 1rem 0.7rem 0.5rem;
    align-items: center;

    img {
      margin-bottom: 0.7rem;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .card.team-a {
    box-shadow: 0 0 4px 1px $team-a;
  }

  .card.team-b {
    box-shadow: 0 0 4px 1px $team-b;
  }
}

#team-modal[data-team="team-a"] {
  .modal-header {
    background-color: $team-a;
  }
  .modal-title::after {
    content: 'A';
  }
}

#team-modal[data-team="team-b"] {
  .modal-header {
    background-color: $team-b;
  }
  .modal-title::after {
    content: 'B';
  }
}

#team-modal .modal-header {
  color: whitesmoke;

  .close {
    color: white;
    text-shadow: 0 1px 0 $black;
  }
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}
