$team-a: #1D2778;
$team-b: #A11F2E;

.sidebar .brand {
  margin: 1rem 0 0.5rem;
}

.team-label {
  width: 100%;  
}

label {
  margin: 0;
}

.team-image {
  margin: 0.5em 0 0.7em;
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  img {
    margin: auto;
    width: 83%;
    height: 83%;
    object-fit: contain;
  }
}

.season-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 1.7rem;
  font-size: 0.7rem;
}

.sidebar {
  .card-button {
    width: calc(100% - 2rem);
    display: block;
    margin: 0 1rem 1rem;
    text-decoration: none;

    .sidebar-card {
      margin: 0;
    }
    select {
      display: none;
    }
    .team-name {
      // display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
    }
    .team-label-header {
      margin: auto auto 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .sidebar-card-header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border-radius: $border-radius $border-radius 0 0;
    font-weight: bold;
    color: $gray-300;
  }

  .sidebar-card.team-a, .sidebar-card.team-b {
    background: $gray-500;
    overflow: hidden;
    .sidebar-card-body {
      width: 100%;
      color: $gray-900;
    }
  }
  .sidebar-card.team-a .sidebar-card-header {
    background: $team-a;
  }
  .sidebar-card.team-b .sidebar-card-header {
    background: $team-b;
  }
  .vega-embed {
    border-radius: 100px;
    overflow: hidden;
    height: 29px;
  }
}

#team-modal .modal-dialog {
  max-width: none;
  width: auto;
  margin-left: 10rem;
  margin-right: 10rem;

  .card {
    width: 8rem;
    margin: 0.5rem;
    padding: 1rem 0.7rem 0.5rem;
    align-items: center;

    img {
      margin-bottom: 0.7rem;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .card.team-a {
    box-shadow: 0 0 4px 1px $team-a;
  }

  .card.team-b {
    box-shadow: 0 0 4px 1px $team-b;
  }
}

#team-modal[data-team="team-a"] {
  .modal-header {
    background-color: $team-a;
  }
  .modal-title::after {
    content: 'A';
  }
}

#team-modal[data-team="team-b"] {
  .modal-header {
    background-color: $team-b;
  }
  .modal-title::after {
    content: 'B';
  }
}

#team-modal .modal-header {
  color: whitesmoke;
}

.container-card-team-b {
  position: relative;
}

.close, .close:hover {
  color: white;
  text-shadow: 0 1px 0 $black;
}

.close-team-b {
  position: absolute;
  right: 1.8rem;
  top: 0.3rem;
}

.open-team-b {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

canvas {
  margin-bottom: -0.8rem;
}

.legend-block {
  width: 15px;
  height: 15px;
}

h6 {
  font-size: 0.9rem;
}

.bg-team-a {
  background-color: $team-a;
  opacity: 0.8;
}
