// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='js/sb-admin-2.min.js')
script.
  function navigateTo(layer) {
    pageToShow = layer == 'second' ? 'second' : 'main';
    pageToHide = layer == 'second' ? 'main' : 'second';
    $('.' + pageToShow + '-layer').removeClass('d-none');
    $('.' + pageToHide + '-layer').addClass('d-none');
    $('.' + pageToShow + '-layer-stay').removeClass('invisible');
    $('.' + pageToHide + '-layer-stay').addClass('invisible');
    if (pageToShow == 'main') {
      $("#select-season").prop('disabled', false);
    } else {
      $("#select-season").prop('disabled', true);
    }
    window.dispatchEvent(new Event('resize', {
        bubbles: true,
        cancelable: true,
    }));
  }
  window.addEventListener('load', navigateTo);
  let changeTeam = (team) => {
    name = $('#select-' + team).find(':selected').text();
    name && $('#image-' + team).attr('src', 'img/teams/' + name.normalize("NFD").replace(/[\u0300-\u036f]/g, "") + '.png');
    let buttons = $('#team-modal .button-team')
    buttons.filter('.' + team).removeClass(team).prop('disabled', false)
    buttons.filter('[data-name="' + name + '"]').addClass(team).prop('disabled', true)
    $('.bind-' + team).text(name);
  }
  window.addEventListener('load', () => {
    changeTeam('team-a');
    changeTeam('team-b');
  });
  $('#select-team-a').on('change', () => changeTeam('team-a'));
  $('#select-team-b').on('change', () => changeTeam('team-b'));
  $('.card-button').on('click', function(event) {
    $('#team-modal').attr('data-team', $(this).attr('data-team'));
  });
  $('.button-team').on('click', function(event) {
    let team = $('#team-modal').attr('data-team');
    let name = $(this).attr('data-name')
    let el = $('#select-' + team + ' option[value="' + name + '"]').prop('selected', true)
    $('#select-' + team).trigger('change');
    setTimeout(function () {
      el.get(0).dispatchEvent(new Event('input', {
          bubbles: true,
          cancelable: true,
      }));
    }, 100);
    return false
  });

  //- // Import the functions you need from the SDKs you need
  //- import { initializeApp } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js";
  //- // TODO: Add SDKs for Firebase products that you want to use
  //- // https://firebase.google.com/docs/web/setup#available-libraries

  //- // Your web app's Firebase configuration
  //- const firebaseConfig = {
  //-   apiKey: "AIzaSyDYuDoYnkypmWLnqdII1ttrihdUe0ISuys",
  //-   authDomain: "viz-liga.firebaseapp.com",
  //-   projectId: "viz-liga",
  //-   storageBucket: "viz-liga.appspot.com",
  //-   messagingSenderId: "940623868549",
  //-   appId: "1:940623868549:web:be30d86e90b2cbe1c86fec"
  //- };

  //- // Initialize Firebase
  //- const app = initializeApp(firebaseConfig);
