.modal#team-modal(tabindex='-1' role='dialog' data-team='')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title Select Team 
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.d-flex.flex-wrap.justify-content-center
        button.card.button-team(data-dismiss='modal' data-name='Athletic Club de Bilbao')
          img(src='img/teams/Athletic Club de Bilbao.png')
          | Athletic Club de Bilbao
        button.card.button-team(data-dismiss='modal' data-name='Atlético Madrid')
          img(src='img/teams/Atlético Madrid.png')
          | Atlético Madrid
        button.card.button-team(data-dismiss='modal' data-name='CA Osasuna')
          img(src='img/teams/CA Osasuna.png')
          | CA Osasuna
        button.card.button-team(data-dismiss='modal' data-name='CD Numancia')
          img(src='img/teams/CD Numancia.png')
          | CD Numancia
        button.card.button-team(data-dismiss='modal' data-name='CD Tenerife')
          img(src='img/teams/CD Tenerife.png')
          | CD Tenerife
        button.card.button-team(data-dismiss='modal' data-name='Córdoba CF')
          img(src='img/teams/Córdoba CF.png')
          | Córdoba CF
        button.card.button-team(data-dismiss='modal' data-name='Elche CF')
          img(src='img/teams/Elche CF.png')
          | Elche CF
        button.card.button-team(data-dismiss='modal' data-name='FC Barcelona')
          img(src='img/teams/FC Barcelona.png')
          | FC Barcelona
        button.card.button-team(data-dismiss='modal' data-name='Getafe CF')
          img(src='img/teams/Getafe CF.png')
          | Getafe CF
        button.card.button-team(data-dismiss='modal' data-name='Granada CF')
          img(src='img/teams/Granada CF.png')
          | Granada CF
        button.card.button-team(data-dismiss='modal' data-name='Hércules Club de Fútbol')
          img(src='img/teams/Hércules Club de Fútbol.png')
          | Hércules Club de Fútbol
        button.card.button-team(data-dismiss='modal' data-name='Levante UD')
          img(src='img/teams/Levante UD.png')
          | Levante UD
        button.card.button-team(data-dismiss='modal' data-name='Málaga CF')
          img(src='img/teams/Málaga CF.png')
          | Málaga CF
        button.card.button-team(data-dismiss='modal' data-name='RC Celta de Vigo')
          img(src='img/teams/RC Celta de Vigo.png')
          | RC Celta de Vigo
        button.card.button-team(data-dismiss='modal' data-name='RC Deportivo de La Coruña')
          img(src='img/teams/RC Deportivo de La Coruña.png')
          | RC Deportivo de La Coruña
        button.card.button-team(data-dismiss='modal' data-name='RC Recreativo')
          img(src='img/teams/RC Recreativo.png')
          | RC Recreativo
        button.card.button-team(data-dismiss='modal' data-name='RCD Espanyol')
          img(src='img/teams/RCD Espanyol.png')
          | RCD Espanyol
        button.card.button-team(data-dismiss='modal' data-name='RCD Mallorca')
          img(src='img/teams/RCD Mallorca.png')
          | RCD Mallorca
        button.card.button-team(data-dismiss='modal' data-name='Racing Santander')
          img(src='img/teams/Racing Santander.png')
          | Racing Santander
        button.card.button-team(data-dismiss='modal' data-name='Rayo Vallecano')
          img(src='img/teams/Rayo Vallecano.png')
          | Rayo Vallecano
        button.card.button-team(data-dismiss='modal' data-name='Real Betis Balompié')
          img(src='img/teams/Real Betis Balompié.png')
          | Real Betis Balompié
        button.card.button-team(data-dismiss='modal' data-name='Real Madrid CF')
          img(src='img/teams/Real Madrid CF.png')
          | Real Madrid CF
        button.card.button-team(data-dismiss='modal' data-name='Real Sociedad')
          img(src='img/teams/Real Sociedad.png')
          | Real Sociedad
        button.card.button-team(data-dismiss='modal' data-name='Real Sporting de Gijón')
          img(src='img/teams/Real Sporting de Gijón.png')
          | Real Sporting de Gijón
        button.card.button-team(data-dismiss='modal' data-name='Real Valladolid')
          img(src='img/teams/Real Valladolid.png')
          | Real Valladolid
        button.card.button-team(data-dismiss='modal' data-name='Real Zaragoza')
          img(src='img/teams/Real Zaragoza.png')
          | Real Zaragoza
        button.card.button-team(data-dismiss='modal' data-name='SD Eibar')
          img(src='img/teams/SD Eibar.png')
          | SD Eibar
        button.card.button-team(data-dismiss='modal' data-name='Sevilla FC')
          img(src='img/teams/Sevilla FC.png')
          | Sevilla FC
        button.card.button-team(data-dismiss='modal' data-name='UD Almería')
          img(src='img/teams/UD Almería.png')
          | UD Almería
        button.card.button-team(data-dismiss='modal' data-name='UD Las Palmas')
          img(src='img/teams/UD Las Palmas.png')
          | UD Las Palmas
        button.card.button-team(data-dismiss='modal' data-name='Valencia CF')
          img(src='img/teams/Valencia CF.png')
          | Valencia CF
        button.card.button-team(data-dismiss='modal' data-name='Villarreal CF')
          img(src='img/teams/Villarreal CF.png')
          | Villarreal CF
        button.card.button-team(data-dismiss='modal' data-name='Xerez Club Deportivo')
          img(src='img/teams/Xerez Club Deportivo.png')
          | Xerez Club Deportivo
