option(value='Valencia CF') Valencia CF
option(value='RCD Mallorca') RCD Mallorca
option(value='CA Osasuna') CA Osasuna
option(value='Villarreal CF') Villarreal CF
option(value='RC Deportivo de La Coruña') RC Deportivo de La Coruña
option(value='Real Madrid CF') Real Madrid CF
option(value='CD Numancia') CD Numancia
option(value='FC Barcelona') FC Barcelona
option(value='Racing Santander') Racing Santander
option(value='Sevilla FC') Sevilla FC
option(value='Real Sporting de Gijón') Real Sporting de Gijón
option(value='Getafe CF') Getafe CF
option(value='Real Betis Balompié') Real Betis Balompié
option(value='RC Recreativo') RC Recreativo
option(value='RCD Espanyol') RCD Espanyol
option(value='Real Valladolid') Real Valladolid
option(value='Athletic Club de Bilbao') Athletic Club de Bilbao
option(value='UD Almería') UD Almería
option(value='Atlético Madrid') Atlético Madrid
option(value='Málaga CF') Málaga CF
option(value='Xerez Club Deportivo') Xerez Club Deportivo
option(value='Real Zaragoza') Real Zaragoza
option(value='CD Tenerife') CD Tenerife
option(value='Hércules Club de Fútbol') Hércules Club de Fútbol
option(value='Levante UD') Levante UD
option(value='Real Sociedad') Real Sociedad
option(value='Granada CF') Granada CF
option(value='Rayo Vallecano') Rayo Vallecano
option(value='RC Celta de Vigo') RC Celta de Vigo
option(value='Elche CF') Elche CF
option(value='SD Eibar') SD Eibar
option(value='Córdoba CF') Córdoba CF
option(value='UD Las Palmas') UD Las Palmas
